/*
     EPICS V4 Stylesheet for documents, as opposed to web pages. Eg normative documents,
     gettingStarted.html etc. 
*/

/* Support for header counters. Assume h1 is the title, so doesn't have a counter. Put counters
   on h2 and h3, but not h4 or further. */
body { counter-reset: h2; }
h2.nocount:before { content: "" }
h2:before {
      content: counter(h2) ". ";
      display: inline;
    }
h2.nocount {
      counter-increment: none;
      counter-reset: none
    }
h2 {
      counter-increment: h2;
      counter-reset: h3;
    }
h3:before {
      content: counter(h2) "." counter(h3) " ";
      display: inline;
    }
h3 { counter-increment: h3; }
h4 { margin-left: 0 }

.about { margin-left: 3em; margin-right: 3em; font-size: .83em}
table { margin-left: auto; margin-right: auto }
.diagram { text-align: center; margin: 2.5em 0 }
editor { font-color: red }
body 
{ 
      margin-right: 10%;
      margin-left: 10%;
      # font-weight: 100; 
}
li { margin-bottom:0.8em }

/* pre, for coding and command line illustration */
pre
{
	padding: 0.5em;
	border-color: #c8e3ea;
	border-width: 1px 1px 1px 3px;
	border-style: solid;
	font-family: "Courier", fixed;
}

/* Tables, from http://www.w3.org/2005/09/table.css*/
table
{
	border-collapse: collapse;
	margin: 1em auto;
}

table caption
{
	margin-left: auto;
	margin-right: auto;
        margin-bottom: 4px;
}

table, tr, th, td { border: 1px solid black; }
th, td { padding: 5px 1em; }

th
{
	background: #005a9c;
	color: #fff;
}

th a:link {
  color: #fff;
}

th a:visited {
  color: #aaa;
}

