a:link { text-decoration: none; color: blue }
a:visited { text-decoration: none; color: blue }
a:hover { text-decoration: underline; color: blue }
a.priv { color:rgb(150,0,0) } /* private class is to indicate a link only accessible within SLAC */

ul.quicklinks_outer {
  list-style-type: none;
  padding: 0;
  margin-left: 3px;
}
ul.quicklinks_inner {
  list-style-type: none;
  padding: 0;
  margin-left: 9px;
}

table.masthead_banner {
background-color: rgb(150,0,0); border-style:none; border-collapse:collapse; border-width:0px
}

table {
	border-width: 1px;
	border-spacing: ;
	border-style: inset;
	border-color: lightgray;
	border-collapse: collapse;
	background-color: white;
        font-size:85%
}
 
table.masthead {
	border-width: 1px;
	border-spacing: ;
	border-style: inset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
        font-size:85%
}
table.masthead th {
	border-width: 1px;
	padding: 3px;
	border-style: outset;
	border-color: grey;
	background-color: white;
	-moz-border-radius: ;
}
table.masthead td {
	border-width: 1px;
	padding: px;
	border-style: inset;
	border-color: #D0D0D0;
	background-color: white;
	-moz-border-radius: ;
}

span.selectedtab {
        color:white;
}